.form > .flex {
    gap: 10px;
}

.form > .flex > input {
    width: 195px;
}

.two-column-grid {
    margin: 40px auto;
    gap: 20px;
    width: 100%;
}

.menu {
    align-self: start;
    gap: 10px;
}

.menu > .button {
    width: 300px;
}

.client-container {
    align-items: start;
    justify-content: flex-start;
    min-width: 100%;
    gap: 20px;
}

.client-container .title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.question {
    margin-left: 50px;
    padding-left: 10px;
    border-left: 2px solid #003b70;
}

.c_details {
    align-self: center;
    border: none;
}

.c_details > tr {
    display: grid;
    grid-template-columns: 180px 1fr;
    padding: 10px;
    align-items: center;
    border: none;
}

.c_details td {
    border: none;
}

.tasks {
    margin-top: 0;
    margin: 0 auto;
}

.tasks tr td:nth-child(3) {
    width: 200px;
    text-overflow: hidden;
}

.tasks tr td:nth-child(4) {
    width: 355px;
}

.raise-query {
    align-self: center;
}
