/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    text-align: center;
    color: inherit;
}

input,
button {
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
}

button {
    cursor: pointer;
}

/* Global Styles */
.nav-container {
    background: linear-gradient(to bottom, #4abcf5, #003b70);
    color: white;
    box-shadow: 0 4px 6px 0 #00000020;
}

.container {
    align-items: flex-start;
    text-align: center;
    margin: 40px auto;
}

.navbar {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.logo {
    max-width: 60px;
}

.title {
    font-size: 1.3rem;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.tasks {
    margin-top: 30px;
    width: 800px;
    text-align: center;
}

.tasks tr th,
.tasks tr td {
    padding: 10px;
}

button,
select,
textarea,
.button {
    width: 400px;
    padding: 8px 10px;
    border: 2px solid #003b70;
    border-radius: 6px;
}

.button:hover,
.active {
    color: white;
    background: linear-gradient(to bottom, #4abcf5, #003b70);
}

select,
textarea {
    font: inherit;
    outline: none;
    -webkit-appearance: none;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    color: darkblue;
}

.success,
.danger,
.back {
    width: 150px;
}

.success:hover {
    background-color: green;
    color: white;
}

.danger:hover {
    background-color: red;
    color: white;
}

.green {
    color: green;
    cursor: pointer;
}

.green:hover {
    text-decoration: underline;
}

.red {
    color: red;
    cursor: pointer;
}

.red:hover {
    text-decoration: underline;
}

.form {
    gap: 20px;
}

input {
    width: 400px;
    padding: 10px;
    border: 2px solid #33333380;
    border-radius: 6px;
}

input:focus,
input:active {
    border: 2px solid #003b70;
}

.hidden {
    display: none;
}

/* Grid */
.two-row-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    max-width: 1200px;
}

/* Flex */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-jcsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
